<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>headwind</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
<table width='100%'>
    <tbody>
        <tr>
            <td id='welcomeTitle'>Прогноз погоды для свободнолетающих субъектов</td>
            <td><a href='http://softwings.pro'>Полеты на параплане в Нижнем Новгороде</a></td>
        </tr>
    </tbody>
</table>
<br>
<div align='center'><b>
    <form style='display: inline' id='coords' name='coords' onsubmit='changeParams(event)'>
        Координаты:
        <input id='lat' name='lat' value=56 size=4 title="dd.dddd">
        <input id='lon' name='lon' value=44  size=4 title="dd.dddd">
        ┃ Высота старта: 
        <input id='elev' size=4 title="Если определяется неверно (например, в горах)." disabled>
        ┃ 
        <span>
            <button type='submit'>Обновить</button>
            <button type='reset'>Сброс</button>
        </span>
    </form>
</b></div>
<div hidden id='someshit'></div>
</header>
<main>
<div align='center' max-width='device-width' class="cityList">
    <ul id="cityList">
        <li><a href='nnovgorod'>Нижний Новгород</a></li>
        <li><a href='chegem'>Парадром Чегем</a></li>
    </ul>
</div>
</main>
</body>
</html>
